[Unit]
Description=opensirene
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/opensirene --config=/etc/opensirene/conf.yml
Restart=on-failure
User=nobody
Group=nogroup
LimitNOFILE=512000
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
