<!DOCTYPE html>
<html>

<head>
    <title>OpenSirene UI</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            background-image: url("/static/bg.png");
            background-repeat: repeat;
        }
    </style>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <!-- Header -->
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">OpenSirene UI</span>
            </div>
        </header>
        <!-- Main Content -->
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                        <div class="mdl-card mdl-shadow--2dp" style="width:100%;">
                            <div class="mdl-card__title mdl-color--indigo mdl-color-text--grey-100">
                                <h2 class="mdl-card__title-text">Welcome to OpenSirene UI</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>
                                    This UI aims to provide a simple UI to query the OpenSirene API.
                                    Simply enter a Siren or Siret in the field and hit enter or click on
                                    the button to query the API.
                                </p>
                                <p>
                                    The siren is an identifer for an enterprise, an organism or an association.
                                    It contains 9 number, for example, 552100554 is the siren of Peugeot SA.
                                </p>
                                <p>
                                    The siret is an identifer for the establishments of an enterprise, organism or association.
                                    It contains 14 numbers, and is composed of the siren of the enterprise plus an unique identifier for the establishment (called NIC).
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- App Start -->
                    <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" id="app">  
                        <div class="mdl-card mdl-shadow--2dp" style="width:100%;">
                            <div class="mdl-card__title mdl-color--indigo mdl-color-text--grey-100">
                                <h2 class="mdl-card__title-text">Search</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <div class="mdl-grid">
                                    <div class="mdl-layout-spacer"></div>
                                    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
                                            <input @keyup.enter="find" v-model="search" class="mdl-textfield__input" type="text" id="search">
                                            <label class="mdl-textfield__label" for="search">Siren or Siret</label>
                                        </div>
                                        <br />
                                        <button @click="find" class="mdl-button mdl-js-button" style="width:100%;">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                    <div class="mdl-layout-spacer"></div>
                                </div>
                            </div>
                        </div>
                        <div v-show="loading" style="width:100%;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>                          
                        <br />
                        <div v-for="e in results">
                            <div class="mdl-card mdl-shadow--2dp" style="width:100%;">
                                <div class="mdl-card__title mdl-color--indigo mdl-color-text--grey-100">
                                    <h2 class="mdl-card__title-text">${e.nomen_long}</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                            <h4>Information</h4>
                                            <p>
                                                Siret : ${e.siret}<br />
                                                Siren : ${e.siren}<br />
                                                NIC : ${e.nic}<br />
                                                Activity : ${e.libapen} (${e.apen700})<br />
                                                Staff : ${e.libtefet} (${e.tefet})<br />
                                                Juridic Nature : ${e.libnj} (${e.nj})
                                            </p>
                                        </div>
                                        <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                                            <h4>Address</h4>
                                            ${e.l1_declaree}
                                            <div v-if="e.l2_declaree || e.l3_declaree">
                                                <span v-if="e.l2_declaree">${e.l2_declaree}<br /></span>
                                                <span v-if="e.l3_declaree">${e.l3_declaree}<br /></span>
                                            </div>
                                            <div>
                                                ${e.l4_declaree} ${e.l5_declaree}
                                            </div>
                                            <div>
                                                ${e.l6_declaree} ${e.l7_declaree}
                                            </div>
                                        </div>
                                        <div class="mdl-cell mdl-cell--2-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="mdl-card__menu mdl-color-text--grey-100">
                                    <a target="_blank" v-bind:href="'/ui/' + e.siret" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <i class="material-icons">link</i>
                                    </a>
                                    <a target="_blank" v-bind:href="'/api/v1/siret/' + e.siret" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <i class="material-icons">code</i>
                                    </a>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div id="toast" class="mdl-js-snackbar mdl-snackbar">
                            <div class="mdl-snackbar__text"></div>
                            <button class="mdl-snackbar__action" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/material.min.js"></script>
    <script src="/static/vue.min.js"></script>
    <script src="/static/vue-resource.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                search: "",
                results: [],
                loading: false,
            },
            mounted: function() {
                {{ if .data }}
                this.search="{{ .data }}";
                this.find();
                {{ end }}
            },
            delimiters: ['${', '}'],
            methods: {
                find: function(event) {
                    var notifier = document.querySelector('.mdl-js-snackbar').MaterialSnackbar;

                    // Check if valid siren or siret before actually making the request
                    if (this.search.length < 9) {
                        notifier.showSnackbar({message: "Invalid siren : A siren must be 9 digits"});
                        return
                    }
                    if ((this.search.length > 9 && this.search.length < 14) || this.search.length > 14) { 
                        notifier.showSnackbar({message: "Invalid siret : A siret must be 14 digits"});             
                        return
                    }

                    // Setup endpoint
                    var siret = this.search.length > 9;
                    var ep = this.$resource('/api/v1/'+(siret?'siret':'siren')+'/{id}');

                    this.loading = true;
                    ep.get({id: this.search, limit: 100}).then((response) => {
                        this.results = siret?[response.data]:response.data;
                        this.loading = false;
                        window.history.pushState("", "", "/ui/"+this.search);
                    }, (response) => {
                        notifier.showSnackbar({message: "This "+ (siret?"siret":"siren") + " doesn't exist"});
                        this.loading = false;
                    });
                }
            }
        });
    </script>
</body>

</html>